.app {
  &-main-container {
    background-color: #2a0b4a;
    background-image: url('../../assets/figure.png'), url('../../assets/bg.png');
    background-position: center bottom, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: 33%, 50% 100%;
    min-height: calc(100vh - 116px);
    padding: 0px 103px 0 135px;
  }
}

