@import "../../scss-base/colors";

.main {
    margin-top: 12px;

    &-add-cryptocurrency {
        display: flex;

        &-left {
            width: 50%;
            color: $white-color;
            margin-top: 20px;
        }
        &-right {
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
        &-title {
            font-size: 45px;
            text-align: left;
            line-height: 51px;
            font-weight: 600;
        }
        &-desc {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            line-height: 30px;
            margin-top: 16px;
            opacity: 0.5;
            text-align: left;
        }
    }
}